#version: '3.8'

networks:
  traefik-net:
    external: false
  soc-net:
    driver: bridge

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: always
    command:
      - --providers.docker.network=traefik-net
      - --api.dashboard=true
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik-net
      - soc-net

  opensearch-node1:
    image: opensearchproject/opensearch:latest
    container_name: soc-opensearch
    expose:
      - "9200"
    environment:
      cluster.name: soc
      node.name: opensearch-node1
      discovery.type: single-node
      bootstrap.memory_lock: "true"
      OPENSEARCH_JAVA_OPTS: "-Xms1536m -Xmx1536m"
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: g/9ibHdzjfnbEvMYR6MN0UmxpB2zI5dE
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health || exit 1"]
      interval: 60s
      timeout: 30s
      retries: 10
      start_period: 120s
    networks:
      soc-net:
        aliases:
          - wazuh.indexer
      - traefik-net

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: soc-dashboard-opensearch
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch-node1:9200"]'
      OPENSEARCH_USERNAME: admin
      OPENSEARCH_PASSWORD: g/9ibHdzjfnbEvMYR6MN0UmxpB2zI5dE
      SERVER_NAME: dashboards.group-awd.me
    restart: always
    labels:
      - "traefik.docker.network=traefik-net"
      - "traefik.http.routers.dash.rule=Host(`dashboards.group-awd.me`)"
      - "traefik.http.routers.dash.entrypoints=websecure"
      - "traefik.http.routers.dash.tls=true"
    depends_on:
      opensearch-node1:
        condition: service_healthy
    networks:
      - traefik-net
      - soc-net

  wazuh-manager:
    image: wazuh/wazuh-manager:4.14.0
    container_name: soc-wazuh
    environment:
      ELASTICSEARCH_HOSTS: "http://opensearch-node1:9200"
      ELASTICSEARCH_USERNAME: "admin"
      ELASTICSEARCH_PASSWORD: g/9ibHdzjfnbEvMYR6MN0UmxpB2zI5dE
      ELASTICSEARCH_SSL_VERIFICATION_MODE: "none"
    volumes:
      - wazuh-data:/var/lib/wazuh
    depends_on:
      opensearch-node1:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wazuh.rule=Host(`wazuh.group-awd.me`)"
      - "traefik.http.routers.wazuh.entrypoints=websecure"
      - "traefik.http.routers.wazuh.tls=true"
      - "traefik.http.services.wazuh.loadbalancer.server.port=55000"
      - "traefik.port=5050"
      - "traefik.docker.network=traefik-net"
    networks:
      - traefik-net
      - soc-net

  thehive:
    image: thehiveproject/thehive:latest
    container_name: soc-thehive
    environment:
      THEHIVE_DB_HOST: postgres
      THEHIVE_DB_NAME: thehive
      THEHIVE_DB_USER: thehive
      THEHIVE_DB_PASSWORD: thehive123!
      THEHIVE_MASTER_KEY: socMasterKey123!
      THEHIVE_ELASTICSEARCH_HOSTS: http://opensearch-node1:9200
      THEHIVE_ELASTICSEARCH_SSL: "false"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hive.rule=Host(`thehive.group-awd.me`)"
      - "traefik.http.routers.hive.entrypoints=websecure"
      - "traefik.http.routers.hive.tls=true"
      - "traefik.docker.network=traefik-net"
      - "traefik.port=9000"
    depends_on:
      - postgres
      - opensearch-node1
    networks:
      - traefik-net
      - soc-net

  postgres:
    image: postgres:latest
    container_name: soc-postgres
    environment:
      POSTGRES_DB: thehive
      POSTGRES_USER: thehive
      POSTGRES_PASSWORD: thehive123!
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - soc-net

  prometheus:
    image: prom/prometheus:latest
    container_name: soc-prometheus
    command:
      - "--storage.tsdb.retention.time=24h"
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus-data:/prometheus
    networks:
      - soc-net

  grafana:
    image: grafana/grafana:latest
    container_name: soc-grafana
    environment:
      GF_SERVER_DOMAIN: grafana.group-awd.me
      GF_SERVER_ROOT_URL: https://grafana.group-awd.me
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.graf.rule=Host(`grafana.group-awd.me`)"
      - "traefik.http.routers.graf.entrypoints=websecure"
      - "traefik.http.routers.graf.tls=true"
      - "traefik.docker.network=traefik-net"
      - "traefik.port=9090"
    networks:
      - traefik-net
      - soc-net

  minio:
    image: minio/minio:latest
    container_name: soc-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minio123456!
    volumes:
      - backups:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.minio.rule=Host(`minio.group-awd.me`)"
      - "traefik.http.routers.minio.entrypoints=websecure"
      - "traefik.http.routers.minio.tls=true"
      - "traefik.http.services.minio.loadbalancer.server.port=9001"
      - "traefik.docker.network=traefik-net"
      - "traefik.port=9001"
    networks:
      - traefik-net
      - soc-net

  zeek:
    image: zeek/zeek:latest
    container_name: soc-zeek
    network_mode: "host"
    volumes:
      - ./zeek_logs:/logs

  nmap-scanner:
    image: instrumentisto/nmap:latest
    container_name: soc-nmap
    volumes:
      - ./network_scans:/scans
    networks:
      - soc-net

volumes:
  opensearch-data:
  wazuh-data:
  postgres-data:
  prometheus-data:
  backups:
